<!DOCTYPE html>
<html lang="ro">
  <%- include('../fragmente/head') %>

<body>
  <%- include('../fragmente/header') %>

    <main>
        <section>
            <h2>Istoric</h2>
            <p>Firma noastră virtuală a fost fondată în anul 2024 și oferă soluții digitale inovatoare.</p>
            <img src="/resurse/poze/office.jpeg" alt="Biroul nostru">
        </section>
    </main>
    <%- include('../fragmente/footer') %>

</body>
</html>
