
<!DOCTYPE html>
<html lang="ro">
  <%- include('../fragmente/head') %>

<body>
  <%- include('../fragmente/header') %>

    <main>
      <%- include('../fragmente/galerie') %>
    </main>
    <%- include('../fragmente/footer') %>
</body>
</html>
