<footer>
  <address>
    Telefon: <a href="tel:+40123456789">+40 123 456 789</a><br>
    Adresa: <a href="https://maps.app.goo.gl/WDa8geo8AB5wG9Wd7">Strada Academiei 14, București</a><br>
    E-mail: <a href="mailto:info@bookheaven.com">info@bookheaven.com</a><br>
    Chat: <a href="https://wa.me/40123456789">WhatsApp</a>
  </address>
  <small>&copy; <time datetime="2024">2024</time> Book Heaven. Toate drepturile rezervate.</small>
  <p><a href="#home">Înapoi la începutul paginii</a></p>
  <p><a href="resurse/files/cei-3-purcelusi.pdf.pdf" download>Descarcă cei 3 purcelusi <i class="fa-solid fa-download"></i></a></p>
</footer>