<header>
  <h1>Book Heaven</h1>
  <nav class="main-nav">
    <ul class="menu">
      <li class="menu-item desktop-item">
        <a href="/" class="menu-link"><i class="fa-solid fa-house"></i> Acasa</a>
      </li>
      <li class="menu-item tablet-item">
        <a href="/" class="menu-link"><i class="fa-solid fa-house"></i></a>

      </li>
      <li class="menu-item dropdown">
        <a href="#" class="menu-link">Galerii</a>
        <ul class="submenu">
          <li><a href="galerie-statica.html">Galerie Statică</a></li>
          <li><a href="galerie-dinamica.html">Galerie Dinamică</a></li>
        </ul>
      </li>
      <li class="menu-item dropdown">
        <a href="#" class="menu-link">Secțiuni</a>
        <ul class="submenu">
          <li><a href="#sectiune1">Secțiunea 1</a></li>
          <li><a href="#sectiune2">Secțiunea 2</a></li>
        </ul>
      </li>
      <li>
        <a href="/despre" class="menu-link">Despre</a>
      </li>
    </ul>
  </nav>
    <a href="#" class="burger"><i class="fas fa-bars"></i></a>
</header>